header{
	background:#2c3e50;
	color:#fff;
}

.main{
	background: #f2f2f2;
}
.color1{
	background: #34495e;
	color: #fff;
}
aside{
	background: pink;
	color: #fff;


}
.a {
	height: 500px;
}
footer{
	background: #16a085;
	color: #fff;
}

.tablilla{
	background:#dddddd;
}

.imagen{
	width:8em ;
	height: 8em;
	background-color: #000;
}

#miCanvas{
	border: 1px solid #000;
	


}

.noPadding{
padding: 0px 0px 0px 0px;

}

.noMargin{
	margin: 0px 0px 0px 0px;
}

.cartel{
	width: 20px;
	height: 20px;
	background-color: #dddddd;
}

.precioPorUnidad{
	color : black;
}

.resaltar:hover {
   	background-color: #aaaaaa;

}

