

header{
	/*background:#000055;*/
	color:#fff;  /*color de la letra*/
	font-style: arial;
	
}

h1{
	font-family:'Verdana';
}

body{

	background-image: url(../imagenes/cafe3.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

#navegacion{
	background-color:transparent;
}


 
.main{
	background: silver;
}



#miCanvas{
	border: 1px solid #000;
	background-color: silver;
}

.color1{
	background: #34495e;
	color: #fff;
}
aside{
	background: transparent;
	color: #000;


}
.a {
	height: 500px;
}
footer{
	/*background: #16a085;*/
	background-color: #000;
	color: #fff;
	height: 50px;

}

.tablilla{
	background:transparent;
}

div{
	background-color: transparent;
}

.imagen{
	width:8em ;
	height: 8em;
	background-color: #000;
}


.noMargin{
	margin: 0px;
}

.cartel{
	display:none;
	width: 20px;
	height: 20px;
	background-color: #00000f;
}
.precioPorUnidad{
	color : black;
}


#facebox .content {
    background-color: #FFB660;
}
#facebox .modal-header {
    background-color: #FFB660;
}
#facebox .modal-footer {
    background-color: #FFB660;
}

#precio{
	color: #fff;
	font-size: 20px;
	font:bold;
	background-color: black;

}

.resaltar:hover {
   	background-color: #aaaaaa;

}
#borrar{
	background-image: url("../imagenes/botones/borrar.png");
}
#guardar{
	background-image: url("../imagenes/botones/guardar.png");
}
#cargar{
	background-image: url("../imagenes/botones/cargar.png");
}
#comprar{
	background-image: url("../imagenes/botones/comprar.png");
}
#cambiarCSS{
	background-image: url("../imagenes/botones/cambiar.png");

}
.botones {
	background-color: transparent;
	background-size: cover;
	padding: 0px;
	width: 80px;
	height: 80px;
}
.radioChico{
	border-radius: 15px;	
}
.radioGrande{
	border-radius: 50px;	
}
.radioChico{
	border-radius: 5px;	
}
.radioGrande{
	border-radius: 70px;	
}

h1{
	text-align: left;
	
	line-height: 90px;
}
@media all and (min-width: 767px) {

    h1 {
      font-size: 8vw;
    }
}

@media all and (max-width: 767px) {

    h1 {
      font-size: 14vw;
    }
}