header{
	/*background-image: url("../imagenes/header.jpg");*/
	color : white;
	font-family: "Verdana";
}
.contenedorH1{
	position:relative;
}

h4{
	font-family: "Verdana";
	font-style: oblique;
}
#logo{
	float:left;

}

body{
	background-image: url("../imagenes/fondo.jpg");
}
.main{
	background: #eddbc3;
}
.color1{
	background: #34495e;
	color: #fff;
}
aside{
	background:#d94c3a;
	color: #fff;


}
.a {
	height: 500px;
}
footer{
	background: black;
	color: white;
}

.barra {
	background: #ce7825;
}


.imagen{
	width:8em ;
	height: 8em;
	background-color: #000;
}

#miCanvas{
	border: 1px solid #000;
	


}

.noPadding{
padding: 0px 0px 0px 0px;

}

.noMargin{
	margin: 0px 0px 0px 0px;
}

.cartel{
	width: 20px;
	height: 20px;
	background-color: #dddddd;
}

.precioPorUnidad{
	color : black;
}

.resaltar:hover {
   	background-color: #aaaaaa;

}

#precio{
	color: #fff;
	font-size: 20px;
	 

}
h1{
	text-align: left;
	
	line-height: 90px;
}

@media all and (min-width: 767px) {

    h1 {
      font-size: 8vw;
    }
}

@media all and (max-width: 767px) {

    h1 {
      font-size: 14vw;
    }
}